.pass-hide {
    display: none !important;
}

/* Home View */
.accordion-content .pass-menu-list {
    margin-top: 0em;
    padding-top: 1em;
}

.pass-menu-list a {
    display: block;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border: 1px dotted transparent;
    border-left: none;
}

.pass-menu-list a:hover {
    background-color: #f7f7f7;
    border-color: #f2f2f2;
}

.pass-notification h3 {
    color: #3B3737;
    font-size: 12px;
    border-bottom: 2px solid;
    margin: 0 1em 0 0.5em;
    padding: 0.3em 0 0 0.5em;
}
.pass-notification p {
    margin:0.5em 1em;
}

.appraisal-criteria .instructions {
    font-weight: bold;
    font-size: 110%;
}

.appraisal-criteria .pass-form-text {
    color: #555;
}

/* Top Menu */
#pass-top-menu {
    padding-bottom: 27px;
    position: relative;
    z-index: 1;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#pass-top-menu.action-menu-wrapper ul {
    background: #FFF;
    border-bottom: 1px solid #ccc;
}

#pass-top-menu .portlet-action-menu ul {
  	-moz-box-shadow: 0 0 3px #666;
  	-webkit-box-shadow:  0 0 3px #666;
  	box-shadow: 0 1px 3px #666;
}

#pass-top-menu .portlet-action-menu {
  height: 28px;
}

.osu-cws .portlet-action-menu li:hover ul,
.osu-cws .portlet-action-menu li.sfHover ul {
	  left: 0;
	  top: 28px;
}

.osu-cws #pass-top-menu .portlet-action-menu li.pass-roles:hover ul,
.osu-cws #pass-top-menu .portlet-action-menu li.pass-roles.sfHover ul {
	  right: 0;
	  left: auto;
}

#pass-top-menu .portlet-action-menu li:hover, 
#pass-top-menu .portlet-action-menu li.sfHover,
#pass-top-menu .portlet-action-menu a:focus, 
#pass-top-menu .portlet-action-menu a:hover,
#pass-top-menu .portlet-action-menu a:active {
    background: none repeat scroll 0 0 #FFF;
    text-decoration: none;
}

.ie7 #pass-top-menu.action-menu-wrapper ul.portlet-action-menu,
.ie7 #pass-top-menu.action-menu-wrapper {
  min-width: 261px;
}

#pass-top-menu ul.portlet-action-menu ul {
    width: 14.8em;
    overflow: hidden;
}

#pass-top-menu .portlet-action-menu li {
    background: #fff;
    float: left;
    border-right: 1px solid #CCC;
}

#pass-top-menu .portlet-action-menu li li {
    float: none;
    width: auto;
}

#pass-top-menu .portlet-action-menu li li+li {
    border-top: 1px solid #ccc;
    border-right: 0;
}

#pass-top-menu .portlet-action-menu a:hover,
#pass-top-menu .portlet-action-menu a:active,
#pass-top-menu .portlet-action-menu a:focus,
#pass-top-menu .portlet-action-menu a.active {
    border-bottom: 3px solid #d85a1a;
}

#pass-top-menu .portlet-action-menu li.pass-roles {
    float: right;
    border-right: 0;
    border-left: 1px solid #ccc;
}

#pass-top-menu ul.portlet-action-menu li.pass-roles ul {
    width: 8em;
    top: auto;
    left: -999em;
}

.ie #pass-top-menu ul.portlet-action-menu ul {
    border: 1px solid #ccc;
}

#pass-top-menu .portlet-action-menu a {
  white-space: normal; /* overwrites, so long names can break to next line down */
}
  
#pass-top-menu ul.portlet-action-menu li a {
    color: #686868;
    padding: 8px 6px 4px;
    font-size: 13px;
    display: block;
    border-bottom: 3px solid transparent;
}

#pass-top-menu ul.portlet-action-menu li li a { 
    font-size: 12px;
}

/* Roles - pass menu */
#pass-top-menu li.pass-roles em {
    display: inline-block;
    float: left;
    color: #686868;
    font-weight: bold;
    margin: 8px 3px;
    font-style: normal;
}

#pass-top-menu select {
  min-width: 90px;
  float: right;
  margin: 4px 4px;
  padding: 1px;
}

.ie7 #pass-top-menu select {
  position: absolute;
  right: 0;
  top: 4px;
  margin: 0;
  padding: 0;
}

.ie7 #pass-top-menu li.pass-roles em {
  margin-right: 99px;
  float: right;
}

.role-description {
    background: #686868;
    color: #fff;
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 1px 5px;
    border: 1px solid #ccc;
}

.role-description em {
    border-bottom: 1px dotted #fff;
    font-weight: bold;
    font-style: normal;
}

.ie .appraisal.accordion-menu {
    overflow: hidden; /* Fixes an IE8 */
}

.ie7 #pass-appraisal-form .osu-accordion-header img {
    display: none;
}

.ie7 #column-3,
.ie7 #layout-column_column-3,
.ie7 #column-3 .portlet,
.ie7 #layout-column_column-3 .portlet-content-bottom {
  min-width: 300px;
}

/* Appraisal Search */
.accordion-content.pass-search form {
    padding: 0.5em 0 0.5em 1em;
    color: #000;
}
.accordion-content.pass-search label,
.accordion-content.pass-search input {
    margin-right: 1em;
}

.osu-cws .accordion-content.pass-search input[type="text"] {
    min-width: 0;
}

/* Table edits */
.osu-cws .appraisal-info em {
  font-weight: bold;
  font-style: normal;
  margin-left: 10px;
}

.osu-cws .more-link span:after {
  padding-left: 4px;
  content: "\00BB";
}

/** JQuery UI Sortable */
tr.ui-sortable-helper {
    display: table;
    background-color: #FFF;
    border: 1px solid black;
}

tr.ui-state-highlight {
    height: 2.25em;
    line-height: 2.25em;
}

.pass-sortable-icon {
    display: none;
}


/******************************************************************* Reports **/
.osu-cws-report-left {
    float: left;
}

.osu-cws-report-right {
    margin-left: 58em;
    width: 30em;
}

.osu-cws-report-right a {
    font-size: 1.18em;
}

.chart-div {
    height: 42em;
}

.osu-cws .chart-menu { /* removes unecessasry padidng */
  padding-top: 0;
  height: 22px;
}

.chart-menu ul {
    margin: 0;
    z-index:5
}

.chart-menu ul.chart-type-menu {
    position:absolute;
    width: 53.8em;
}

.chart-menu ul ul {
    overflow: hidden;
    left: -999em;
    position: absolute;
    min-width: 8em;
    box-shadow: 0 2px 3px #ccc;
}

.chart-menu ul li:hover ul {
    left: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.chart-menu > ul > li {
    float: right;
    list-style: none outside none;
    min-width: 8em;
    position: relative;
}

.chart-menu > ul > li > a {
  border-left: 1px solid #ccc;
}

.chart-menu li ul li {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    list-style: none outside none;
}

.chart-menu li a {
    border-bottom: 3px solid transparent;
    color: #686868;
    display: block;
    height: 16px;
    padding: 3px 0 0 8px;
    text-decoration: none;
}

.ie7 .chart-menu li a {
  min-width: 7.8em;
}

.chart-menu li a:hover, 
.chart-menu li a:active,
.chart-menu li a:focus,
.chart-menu li a.active {
    border-bottom-color: #d85a1a;
}

.osu-cws div.chart-area {
    width: 60em;
}

.osu-cws .report-list {
  width: 620px;
}

.osu-cws div.chart-content {
  padding: 0 10px 10px;
}

.osu-cws .report-list .accordion-content {
  padding: 10px;
}

tr.google-header-row {
    background-color: #767676;
    font-weight: bold;
}

tr.google-header-row td {
    color: #fff;
}

.google-hover-table-row {
    background-color: #C6C6C6;
    color: #000;
}

tr.google-table-row td {
    color: #000;
}

tr.google-odd-table-row td {
    background-color: #F2F2F2;
    color: #000;
}

.osu-cws .google-visualization-table-table {
  font-size: 12px; /* making it the same size as our tables */
}

.osu-cws .google-visualization-table-td-number {
  text-align: left;
}

.osu-cws .google-visualization-table-table tbody {
  border-top: 3px solid #000;
}

.osu-cws .google-visualization-table-th {
  border: none;
}

/** Breadcrumbs **/
.osu-cws-breadcrumbs {
    margin: 1em 0 0 0;
}

#pass-top-menu ul.portlet-action-menu li.reports ul {
  width: 8em;
}

/** Generic OSU CSS **/
.osu-cws-clear-both {
    clear: both;
}