.pass-hide {
    position: absolute;
    text-indent: -999em;
}

/* Home View */
.accordion-content table {
    font-size: 1.19em;
}

.accordion-content .pass-menu-list {
    margin-top: 0em;
    padding-top: 1em;
    font-size: 1.19em;
}

.pass-menu-list a {
    display: block;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border: 1px dotted transparent;
    border-left: none;
}

.pass-menu-list a:hover {
    background-color: #f7f7f7;
    border-color: #f2f2f2;
}

.pass-notification h3 {
    color: #3B3737;
    font-size: 12px;
    border-bottom: 2px solid;
    margin: 0 1em 0 0.5em;
    padding: 0.3em 0 0 0.5em;
}

.pass-notification h3.clean {
  padding: 0;
  margin: 0;
  border-bottom: none;
}

.pass-notification p {
    margin:0.5em 1em;
}

.appraisal-criteria .pass-form-text {
    color: #555;
}

.appraisal-criteria div div {
  margin: 0 1.5em 0 5.5em;
}

.appraisal-criteria textarea {
    width: 100% !important;
}

.appraisal-criteria fieldset {
  padding-top: 1em;
}

.appraisal-criteria div {
  margin-bottom: 2em;
}

.appraisal-criteria fieldset label {
  float: left;
  width: 5em;
  font-size: 11px;
}

.appraisal-criteria fieldset a.delete {
  float: right;
  margin-right: 0.5em;
}

.appraisal-criteria fieldset fieldset {
    margin-left: 5.5em;
    min-height: 3.5em;
    padding-top: 0.5em;
}

.appraisal-criteria fieldset fieldset label {
  float: none;
}

.appraisal-criteria fieldset fieldset legend {
    float: left;
    position: relative;
    padding: 0 !important;
    margin-left: -1em !important;
}

.appraisal-criteria fieldset fieldset legend span {
    position: absolute;
    top: 0;
    left: -6em;
}

.ie .appraisal-criteria fieldset fieldset legend span {
    top: 1em;
}

.appraisal-criteria .assessment-criteria {
    margin: 0 0 0 6em;
}

.appraisal-criteria .assessment-criteria label {
  float: none;
  font-size: 1em;
}

.appraisal-criteria .assessment-criteria label span {
  color: #C34500;
  text-decoration: underline;
}

.appraisal-auto-save {
    left: 0;
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000000;
}

/* used for salary table */
.osu-cws input.recommended-salary {
    min-width: 3em !important;
    width: 3em !important;
}

.osu-cws input[type="text"][readonly="readonly"].recommended-salary,
.osu-cws input[type="text"][disabled="disabled"].recommended-salary,
.osu-cws input[type="text"][disabled].recommended-salary,
.osu-cws input[type="text"][readonly="readonly"].recommended-salary:focus {
    color: #000000;
}

.role-description {
    background: #686868;
    color: #fff;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 1px 5px;
    border: 1px solid #ccc;
}

.role-description em {
    border-bottom: 1px dotted #fff;
    font-weight: bold;
    font-style: normal;
}

.ie .appraisal.accordion-menu {
    overflow: hidden; /* Fixes an IE8 */
}

.ie7 #pass-appraisal-form .osu-accordion-header img {
    display: none;
}

.ie7 #column-3,
.ie7 #layout-column_column-3,
.ie7 #column-3 .portlet,
.ie7 #layout-column_column-3 .portlet-content-bottom {
  min-width: 300px;
}

.salary-comment {
    font-weight: bold;
}

/* Appraisal Search */
.accordion-content.pass-search form {
    padding: 0.5em 0 0.5em 1em;
    color: #000;
}
.accordion-content.pass-search label,
.accordion-content.pass-search input {
    margin-right: 1em;
    font-size: 1.2em;
}

.osu-cws .accordion-content.pass-search input[type="text"] {
    min-width: 0;
}

/* Table edits */
.osu-cws .appraisal-info em {
  font-weight: bold;
  font-style: normal;
  margin-left: 10px;
}

.osu-cws .more-link span:after {
  padding-left: 4px;
  content: "\00BB";
}

/** JQuery UI Sortable */
tr.ui-sortable-helper {
    display: table;
    background-color: #FFF;
    border: 1px solid black;
}

tr.ui-state-highlight {
    height: 2.25em;
    line-height: 2.25em;
}

.pass-sortable-icon {
    display: none;
}

.appraisal-info.collapses {
    padding: 2px 8px;
}

.osu-cws table {
    margin: 0 auto !important;
}

.osu-cws table.main {
    width: 100% !important;
}

.osu-cws table.google-visualization-table-table {
  margin: auto;
}

.osu-cws table.google-visualization-table-table td {
  border-color: #ddd !important;
}

.osu-cws table.google-visualization-table-table tr.google-hover-table-row td,
.osu-cws table.google-visualization-table-table tr.google-hover-table-row {
  background: inherit !important;
}
/******************************************************************* Reports **/
.osu-cws-report-left {
    float: left;
}

.osu-cws-report-right {
    margin-left: 58em;
    min-width: 38em;
    width: auto;
    max-width: 50%;
}

.osu-cws-report-right .accordion-content {
    font-size: 12px;
}

.chart-div {
    height: 38em;
}

.osu-cws .chart-menu { /* removes unecessasry padidng */
  padding-top: 0;
  height: 22px;
  font-size: 12px;
}

.chart-menu ul {
    margin: 0;
    z-index:5
}

.chart-menu ul.chart-type-menu {
    position:absolute;
    width: 53.8em;
}

.chart-menu ul ul {
    overflow: hidden;
    left: -999em;
    position: absolute;
    min-width: 8em;
    box-shadow: 0 2px 3px #ccc;
}

.osu-cws-report-left .chart-menu ul ul {
  min-width: 8em;
}

.osu-cws-report-left .chart-menu ul ul.supervisor-report {
  min-width: 14em;
}

.chart-menu ul li:hover ul {
    left: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.chart-menu > ul > li {
    float: right;
    list-style: none outside none;
    min-width: 8em;
    position: relative;
}

.chart-menu > ul > li.float-left {
    float: left;
}

.chart-menu > ul > li.float-left.first {
    margin-left: -12px;
}

.chart-menu > ul > li.float-left > a {
    border-left: none;
    border-right: 1px solid #ccc;
}

.chart-menu > ul > li > a {
    border-left: 1px solid #ccc;
}

.chart-menu li ul li {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    list-style: none outside none;
}

.chart-menu li a {
    border-bottom: 2px solid transparent;
    color: #686868;
    min-height: 16px;
    padding: 3px 0 0 8px;
    text-decoration: none;
}

.chart-menu > ul > li.float-left > a {
   padding-right: 8px;
}

.ie7 .chart-menu li a {
    min-width: 7.8em;
}

.chart-menu li a:hover,
.chart-menu li a:active,
.chart-menu li a:focus,
.chart-menu li a.active {
    border-bottom-color: #d85a1a;
}

.osu-cws div.chart-area {
    width: 60em;
}

.osu-cws .report-list {
  margin-top: 1.5em;
  width: 620px;
}

.osu-cws div.chart-content {
  padding: 0 10px 10px;
}

.osu-cws .report-list .accordion-content {
  padding: 10px;
}

.osu-cws table.report-data {
  margin-top: 20px;
}

.osu-cws tr.google-header-row {
    background-color: #767676;
    font-weight: bold;
}

.osu-cws tr.google-header-row td,
.osu-cws th.google-visualization-table-th {
    color: #fff;
}

.osu-cws .google-hover-table-row {
    background-color: #C6C6C6;
    color: #000;
}

.osu-cws tr.google-table-row td {
    color: #000;
}

.osu-cws tr.google-odd-table-row td {
    background-color: #F2F2F2;
    color: #000;
}

.osu-cws .google-visualization-table-table {
  font-size: 12px; /* making it the same size as our tables */
}

.osu-cws .google-visualization-table-td-number {
  text-align: left;
}

.osu-cws .google-visualization-table-table tbody {
  border-top: 3px solid #000;
}

.osu-cws .google-visualization-table-th {
  border: none;
}
.osu-cws .google-visualization-table-td {
  border: none;
}

.osu-cws .google-visualization-table-td + td {
  border-left: 1px solid #ddd;
}

/** Breadcrumbs **/
.osu-cws-breadcrumbs {
    margin: 1em 0 0 0;
}

.portlet-top-menu ul.portlet-action-menu li.reports ul {
  width: 8em;
}

/** Generic OSU CSS **/
.osu-cws-clear-both {
    clear: both;
}



/** Header for goals **/
.osu-cws .goals-header {
    border-bottom: solid 1px #ccc;
    height: 20px;
    font-size: 12px;
    padding-top: .3em;
    padding-left: 1em;
    font-weight: bold;
    margin-right: 12px;
}

/** Professional faculty start Here message **/
span.evals-prof-faculty-start {
    background-image: none;
    min-height: 3em;
    background-color: #d9edf7;
    border: 1px #bce8f1;
}
span.evals-prof-faculty-start p {
    margin: 0.3em 0.3em 0.3em -0.75em;
    font-size: 1.5em;
    color: #3a87ad;
}
span.evals-prof-faculty-start strong {
    display: block;
    width: auto;
    float: left;
    color: #3a87ad;
}
span.evals-prof-faculty-start a {
    float: left;
    margin-left: 0.5em;
    display: block;
    color: #3a87ad;
}
span.evals-prof-faculty-start span.evals-arrow {
    font-size: 3em;
    float: left;
    margin-top: -0.1em;
    margin-left: 0.2em;
}

@media print {
    .osu-accordion-header,
    .osu-cws fieldset,
    .osu-cws legend {
        border: 1px solid #333 !important;
    }

    .osu-cws td,
    .osu-cws tfoot,
    .osu-cws tr+tr {
        border-color: #333 !important;
    }

    .appraisal-info,
    .osu-cws h2,
    .osu-cws table,
    .portlet {
        margin: 0 auto !important;
    }

    #banner,
    .osu-accordion-header > img,
    .portlet-title,
    .portlet-top-menu,
    .portlet-topper,
    .tabs-hide {
        display: none !important;
    }

    #wrapper,
    .osu-accordion-header,
    .osu-cws,
    .osu-cws legend,
    .osu-cws fieldset fieldset,
    .portlet-left-bottom,
    .portlet-msg-alert {
        background: white !important;
    }

    .portlet-content,
    .portlet-content-container,
    .portlet-msg-alert {
        padding: 0 !important;
    }

    .osu-cws fieldset fieldset legend,
    .portlet-msg-alert {
        border: none !important;
    }

    .osu-accordion-header,
    .osu-cws td {
        color: black !important;
    }

    .accordion-content {
        border-left: 1px solid #333 !important;
        border-right: 1px solid #333 !important;
        border-bottom: 1px solid #333 !important;
    }

    .osu-cws {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .osu-cws .appraisal-info em {
        margin-left: 0 !important;
    }

    .osu-cws fieldset fieldset legend {
        padding: 0 0.3em 0 !important;
    }

    .osu-cws h2 {
        border-bottom: 2px solid #333 !important;
        padding-bottom: 3px !important;
    }

    .osu-cws td {
        padding: 0 8px !important;
    }
}

.portlet-action-menu .li a {
    font-weight: bold;
}

.lfr-textarea, .form .fieldset .lfr-textarea-container textarea {
    max-width: 100%;
}
