.pass-hide {
    display: none;
}
/* Home View */
.accordion-content .pass-menu-list {
    margin-top: 0em;
    padding-top: 1em;
}
.pass-notification h3 {
    color: #3B3737;
    font-size: 12px;
    border-bottom: 2px solid;
    margin: 0 1em 0 0.5em;
    padding: 0.3em 0 0 0.5em;
}
.pass-notification p {
    margin:0.5em 1em;
}

/** JQuery UI Sortable */
tr.ui-sortable-helper {
    display: table;
    background-color: #FFF;
    border: 1px solid black;
}
tr.ui-state-highlight {
    height: 2.25em;
    line-height: 2.25em;
}
.pass-sortable-icon {
    display: none;
}

/* Appraisal Search */
.accordion-content.pass-search form {
    padding: 0.5em 0 0.5em 1em;
    color: #000;
}
.accordion-content.pass-search label,
.accordion-content.pass-search input {
    margin-right: 1em;
}
#osu-cws .accordion-content.pass-search input[type="text"] {
    min-width: 0;
}